################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DuplicacyInArray/v15
/DuplicacyInArray/bin/Debug/netcoreapp2.0
/DuplicacyInArray/obj
/DuplicacyInArray/obj/Debug/netcoreapp2.0
/DuplicacyInArray/DuplicacyInArray.csproj.user
